.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  .title {
    width: 100%;
    box-sizing: border-box;
    font-size: 42px;
    line-height: 56px;
    font-weight: 500;
    color: #000;
    text-align: center;
    @media screen and (max-width: 576px) {
      padding: 0 30px;
      font-size: 30px;
      line-height: 46px;
    }
  }
  .container {
    margin-top: 100px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    box-sizing: border-box;
    .left {
      width: 100%;
      background: var(--white-color);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 50px;
      transition: all linear 0.225s;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      .location {
        font-weight: 400;
        color: #101010;
        font-size: 32px;
        line-height: 1.1em;
        text-align: center;
        @media screen and (max-width: 576px) {
          font-size: 25px;
        }
      }
      .wrap {
        display: flex;
        margin-top: 40px;
        gap: 15px;
        .header {
          text-decoration: none;
          padding: 5px;
          background: var(--color-red);
          color: var(--white-color);
          font-size: 16px;
          width: max-content;
          height: 26px;
          cursor: pointer;
          transition: all linear 0.225s;
          &:hover {
            background: #101010;
          }
        }
        .a {
          padding-right: 40px;
          text-decoration: none;
          font-size: 19px;
          line-height: 30px;
          font-weight: 300;
          cursor: pointer;
          color: #101010;
          transition: all linear 0.225s;
          &:hover {
            color: var(--color-red);
          }
          @media screen and (max-width: 425px) {
            padding-right: 0;
          }
        }
      }
      .body {
        .btn_wrap {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
          margin-left: 30px;
          .btn {
            text-decoration: none;
            width: 180px;
            box-sizing: border-box;
            cursor: pointer;
            padding: 20px 30px;
            border: none;
            background-color: #000000;
            color: var(--white-color);
            font-weight: 500;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;
            transition: all 0.25s linear;
            span {
              display: block;
              position: relative;
              z-index: 2;
              padding-right: 10px;
            }
            .arrowicon {
              position: relative;
              z-index: 2;
              font-size: 20px;
              transition: all 0.3s linear;
              animation: animate 1.2s linear infinite;
            }
            @keyframes animate {
              0% {
                transform: translateX(0px);
              }
              50% {
                transform: translateX(15px);
              }
              100% {
                transform: translateX(0);
              }
            }

            &::after {
              content: "";
              width: 100%;
              height: 50%;
              background-color: var(--color-red);
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              transition: all 0.25s linear;
              z-index: 1;
            }

            &::before {
              content: "";
              width: 100%;
              height: 55%;
              background-color: var(--color-red);
              display: block;
              position: absolute;
              left: 0;
              bottom: 0;
              transition: all 0.25s linear;
              z-index: 1;
            }

            &:hover::after,
            &:hover::before {
              width: 0%;
            }
            @media screen and (max-width: 970px) {
              padding: 15px 25px;
            }
            @media screen and (max-width: 500px) {
              width: 160px;
              padding: 15px 15px;
            }
            @media (max-width: 370px) {
              padding: 15px 40px;
            }
          }
          .btn_a {
            text-decoration: none;
            font-size: 19px;
            line-height: 30px;
            font-weight: 300;
            cursor: pointer;
            color: #101010;
            transition: all linear .2s;
            @media screen and (max-width: 970px) {
              font-size: 17px;
            }
            @media screen and (max-width: 450px) {
              font-size: 15px;
            }
            &:hover {
              color: var(--color-red);
            }
          }
          @media screen and (max-width: 970px) {
            margin-left: 0;
          }
          @media screen and (max-width: 576px) {
            margin-top: 20px;
            &:nth-child(4){
              .btn{
                width: 100%;
                justify-content: center;
              }
              flex-direction: column;
              gap: 20px;
            }
          }
        }
      }
      @media screen and (max-width: 1300px) {
        padding: 30px;
      }
      @media screen and (max-width: 1150px) {
        padding: 20px;
      }
      @media screen and (max-width: 870px) {
        padding: 10px;
      }
      @media screen and (max-width: 800px) {
        padding: 50px 120px;
      }
      @media screen and (max-width: 680px) {
        padding: 50px 80px;
      }
      @media screen and (max-width: 600px) {
        padding: 40px 40px;
      }
      @media screen and (max-width: 500px) {
        padding: 30px 20px;
      }
      @media screen and (max-width: 425px) {
        padding: 25px 10px;
      }
    }
    .right {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    @media screen and (max-width: 1300px) {
      grid-gap: 50px;
    }
    @media screen and (max-width: 1150px) {
      grid-gap: 30px;
    }
    @media screen and (max-width: 870px) {
      grid-gap: 15px;
    }
    @media screen and (max-width: 800px) {
      grid-gap: 30px;
      grid-template-columns: repeat(1, 1fr);
    }
    @media screen and (max-width: 576px) {
      margin-top: 50px;
    }
  }
  @media screen and (max-width: 425px) {
    padding: 0 15px;
  }
}
