.wrapper {
  padding: 10px 0;
  transition: all 0.5s linear;
  position: sticky;
  top: 0;
  background-color: #fff;
  left: 0;
  width: 100%;
  .container {
    width: 100%;
    max-width: 1360px;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        img {
          width: 70px;
          height: 70px;
          object-fit: cover;
          transition: all 0.5s linear;
          @media (max-width: 950px) {
            width: 60px;
            height: 60px;
          }
        }
        @media (max-width: 950px) {
          width: 190px;
        }
        @media (max-width: 440px) {
          width: 120px;
        }
      }

      .nav__right {
        display: flex;
        align-items: center;

        .communication {
          display: flex;
          align-items: center;
          margin-left: 60px;
          .link {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            color: #000;
            white-space: nowrap;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            transition: all 0.3s linear;
            &:hover {
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
            &:last-child {
              margin-left: 15px;
            }
          }

          @media (max-width: 400px) {
            margin-right: 20px;
          }
        }
      }

      .nav__list {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;
        position: relative;
        z-index: 100;
        .nav__item {
          .nav__link {
            font-size: 18px;
            line-height: 30px;
            font-weight: normal;
            letter-spacing: 1px;
            text-transform: capitalize;
            color: #000;
            transition: all 0.2s linear;
            padding-bottom: 5px;
            text-decoration: none;
            text-align: center;
            &:hover {
              color: #36dbe5;
            }
            @media (max-width: 950px) {
              font-size: 18px;
            }
            @media (max-width: 755px) {
              font-weight: 500;
              letter-spacing: 2px;
              font-size: 18px;
            }
          }
          .nav__link_active {
            color: #36dbe5;
            border-bottom: 1px solid #36dbe5;
          }

          @media (max-width: 755px) {
            margin-bottom: 50px;
          }
        }
        .nav__item:not(:last-child) {
          margin-right: 50px;

          @media (max-width: 1000px) {
            margin-right: 40px;
          }
          @media (max-width: 950px) {
            margin-right: 35px;
          }
          @media (max-width: 755px) {
            margin-right: 0;
          }
        }
        @media (max-width: 755px) {
          width: 75%;
          height: calc(100% - 83.5px);
          top: 83.5px;
          flex-direction: column;
          background-color: #fff;
          position: fixed;
          transform: translateX(100%);
          right: 0;
          display: flex;
          justify-content: center;
          transition: all 0.4s linear;
          z-index: 100;
        }
      }

      .nav__list_hide {
        transform: translateX(0%);
        transition: all 0.4s linear;
      }

      .nav__actions {
        display: flex;
        align-items: center;
        .socials {
          transition: transform 0.2s linear;
          &:hover {
            transform: scale(1.1);
          }

          @media (max-width: 440px) {
            width: 35px;
          }
        }
        .socials:not(:first-child) {
          margin-left: 20px;

          @media (max-width: 1000px) {
            margin-left: 12px;
          }
        }
      }

      .burgerBtn {
        display: none;
        .btn {
          font-size: 30px;
          color: #000;
        }

        @media (max-width: 750px) {
          display: block;
        }
      }
      .burgerBtnClose {
        display: none;
        transform: translate(130px, -80px);
        .btn {
          font-size: 30px;
          color: #000;
        }

        @media (max-width: 750px) {
          display: block;
        }

        @media (max-width: 370px) {
          transform: translate(97px, -84px);
        }
      }
    }
  }

  @media (max-width: 767px) {
    padding: 10px 0;
  }
}

.wrapper_change {
  padding: 5px 0;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: all 0.5s linear;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .container {
    .navbar {
      .logo {
        img {
          width: 60px;
          height: 60px;
        }
      }
      .nav__list {
        height: calc(100% - 78.5px);
        top: 73.5px;
      }
    }
  }
}
