.wrapper {
  padding: 10px 0 ;
  transition: all 0.5s linear;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
  .container {
    width: 100%;
    max-width: 1360px;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        img {
          width: 80px;
          height: 80px;
          object-fit: cover;
          transition: all 0.5s linear;
          @media (max-width: 950px) {
            width: 70px;
            height: 70px;
          }
        }
        @media (max-width: 950px) {
          width: 190px;
        }
        @media (max-width: 440px) {
          width: 120px;
        }
      }

      .nav__list {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;
        position: relative;
        margin-left: auto;
        // margin-right: auto;

        .nav__item {
          .nav__link {
            cursor: pointer;
            font-size: 20px;
            line-height: 26px;
            font-weight: normal;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #000;
            transition: all 0.2s linear;
            padding-bottom: 5px;
            text-decoration: none;
            text-align: center;
            &:hover {
              color: #36dbe5;
            }
            @media (max-width: 950px) {
              font-size: 16px;
            }
            @media (max-width: 755px) {
              font-weight: 500;
              letter-spacing: 2px;
              font-size: 18px;
            }
          }
          .nav__link_active {
            color: #36dbe5;
            border-bottom: 1px solid #36dbe5;
          }

          @media (max-width: 755px) {
            margin-bottom: 50px;
          }
        }

        .nav__item:not(:last-child) {
          margin-right: 50px;

          @media (max-width: 1000px) {
            margin-right: 30px;
          }
          @media (max-width: 950px) {
            margin-right: 15px;
          }
          @media (max-width: 755px) {
            margin-right: 0;
          }
        }
        @media (max-width: 755px) {
          width: 75%;
          height: calc(100% - 83.5px);
          flex-direction: column;
          background-color: #fff;
          position: fixed;
          transform: translateX(100%);
          right: 0;
          top: 83.5px;
          display: flex;
          justify-content: center;
          transition: all 0.3s linear;
          z-index: 100;
          margin: 0;
        }
      }

      .nav__list_hide {
        transform: translateX(0%);
        transition: all 0.3s linear;
      }

      .comunication__btns{
        display: flex;
        align-items: center;
        margin-left: 60px;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 45px;
          height: 45px;
          font-size: 24px;
          border-radius: 50%;
          transition: all 0.2s linear;
          color: #000;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

          &:last-child{
            margin-left: 15px;
          }      
          
          &:hover{
            color: var(--main-color);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          }
        }

        @media (max-width:820px) and (min-width:755px){
          margin-left: 20px;
        }

        @media (max-width:480px) {
          margin-right: 20px;
        }
      }

      .burgerBtn {
        display: none;
        .btn {
          font-size: 30px;
          color: #000;
        }

        @media (max-width: 750px) {
          display: block;
        }
      }
      .burgerBtnClose {
        display: none;
        transform: translate(130px, -80px);
        .btn {
          font-size: 30px;
          color: #000;
        }

        @media (max-width: 750px) {
          display: block;
        }

        @media (max-width: 370px) {
          transform: translate(97px, -84px);
        }
      }
    }
  }

  @media (max-width: 767px) {
    padding: 10px 0;
  }
}

.wrapper_change {
  padding: 5px 0;
  position: sticky;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: all 0.5s linear;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .container{
    .navbar{
      .logo{
        img{
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}