.wrapper {
  padding: 10px 0 ;
  transition: all 0.5s linear;
  .container {
    width: 100%;
    max-width: 1360px;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        img {
          width: 80px;
          height: 80px;
          object-fit: cover;
          transition: all 0.5s linear;
          @media (max-width: 950px) {
            width: 70px;
            height: 70px;
          }
        }
        @media (max-width: 950px) {
          width: 190px;
        }
        @media (max-width: 440px) {
          width: 120px;
        }
      }

      .nav__list {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;
        position: relative;

        .nav__item {
          .nav__link {
            font-size: 22px;
            line-height: 26px;
            font-weight: normal;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #000;
            transition: all 0.2s linear;
            padding-bottom: 5px;
            text-decoration: none;
            text-align: center;
            &:hover {
              color: #36dbe5;
            }
            @media (max-width: 950px) {
              font-size: 16px;
            }
            @media (max-width: 755px) {
              font-weight: 500;
              letter-spacing: 2px;
              font-size: 18px;
            }
          }
          .nav__link_active {
            color: #36dbe5;
            border-bottom: 1px solid #36dbe5;
          }

          @media (max-width: 755px) {
            margin-bottom: 50px;
          }
        }

        .nav__item:not(:last-child) {
          margin-right: 50px;

          @media (max-width: 1000px) {
            margin-right: 30px;
          }
          @media (max-width: 950px) {
            margin-right: 15px;
          }
          @media (max-width: 755px) {
            margin-right: 0;
          }
        }
        @media (max-width: 755px) {
          width: 75%;
          height: calc(100% - 84.5px);
          flex-direction: column;
          background-color: #fff;
          position: fixed;
          transform: translateX(100%);
          right: 0;
          top: 84.5px;
          display: flex;
          justify-content: center;
          transition: all 0.4s linear;
          z-index: 10;
        }
      }

      .nav__list_hide {
        transform: translateX(0%);
        transition: all 0.4s linear;
      }

      .nav__actions {
        display: flex;
        align-items: center;
        .socials {
          transition: transform 0.2s linear;
          &:hover {
            transform: scale(1.1);
          }

          @media (max-width: 440px) {
            width: 35px;
          }
        }
        .socials:not(:first-child) {
          margin-left: 20px;

          @media (max-width: 1000px) {
            margin-left: 12px;
          }
        }
      }

      .burgerBtn {
        display: none;
        .btn {
          font-size: 30px;
          color: #000;
        }

        @media (max-width: 750px) {
          display: block;
        }
      }
      .burgerBtnClose {
        display: none;
        transform: translate(130px, -80px);
        .btn {
          font-size: 30px;
          color: #000;
        }

        @media (max-width: 750px) {
          display: block;
        }

        @media (max-width: 370px) {
          transform: translate(97px, -84px);
        }
      }
    }
  }

  @media (max-width: 767px) {
    padding: 20px 0;
  }
}

.wrapper_change {
  padding: 5px 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: all 0.5s linear;
  .container{
    .navbar{
      .logo{
        img{
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}
