.wrapper {
  margin-top: 50px;
  width: 100%;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.8);
  .container {
    width: 100%;
    max-width: 1360px;
    padding: 0 30px;
    margin: 0 auto;
    .row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      img {
        width: 60px;
        height: 60px;
        object-fit: cover;
      }
      a {
        align-self: center;
        justify-self: center;
        text-decoration: none;
        font-size: 17px;
        font-weight: normal;
        line-height: 19px;
        color: #fff;
        opacity: 0.7;
      }
      p {
        text-align: end;
        align-self: center;
        justify-self: self-end;
        font-size: 17px;
        font-weight: normal;
        line-height: 19px;
        color: #fff;
        opacity: 0.7;
      }
      @media screen and (max-width: 900px) {
        grid-template-columns: 15% 35% 50%;
      }
      @media screen and (max-width: 600px) {
        grid-template-columns: repeat(6,1fr);
        img{

            grid-column: 1 / 4;
        }
        a{
            grid-column: 4 / 7;

        }
        p{
            justify-self: center;
            margin-top: 8px;
            grid-column: 1 / 7;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
      }
    }
  }
}
