@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --font-family-body: "Roboto", "Arial", sans-serif;
  --main-color: #36dbe5;
  --white-color: #ffffff;
  --text-color: #474849;
}
/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Popins, sans-serif;
}
